{% extends "base.html" %}
{% block content %}

<h2>Members</h2>

{% for member in members %}

<section>
    <p>{{ member.name }}</p>
    <a href="/members/{{ member.id }}/edit">Edit</a>
    <form action="/members/{{ member.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
    {% if member.premium == False %}
    <i class="fa fa-check fa-2x" style="color:green" aria-hidden="true">Premium Member!</i>
    {% else %}
    <i class="fa fa-times fa-2x" aria-hidden="true">Lowly Pleb</i>
    {% endif %}
</section>

{% endfor %}
{% endblock %}