.header-image {
    background-image: url('images/person.jpeg');
    background-repeat:no-repeat;
    margin: -10px;
    padding: 180px;
    text-align:left;
    font-family: HanaMina;
    letter-spacing: 2px;
    word-spacing: 7px;
    text-decoration: underline;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 45px;
    font-weight: bold;
    color:#ffffff;
    -webkit-text-stroke: 1px rgb(193, 15, 12);
}   


body {
    background-color: grey;
}


body > nav > ul > li {
    font-size: 30px;
    justify-content: space-evenly
}

#navigation {
    display: flex;
    justify-content: space-around;
}

.designbutton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.designbutton:hover {
    background-color: rgb(214, 4, 4);
    color: rgb(1, 230, 255);
}

.activitybutton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.bookingsystem {
    font-size:60px;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;

}

.baseindex {
    font-size:larger;
    text-align: center;

}


.addnewactivity {
    font-size: 25px;
    font-family:'Trebuchet MS';
    text-align: center;
    margin-top: 60px;
    padding: 14px;
}

input[type=text] {
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

input[type=submit] {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.container {
    flex: auto;
    border: 2px solid #eee;

}

.editbutton {
    padding: 10px;
    color:rgb(0, 0, 0);
    background-color: rgba(133, 129, 129, 0.454);
    transition-property: all;
}

.information {
    flex: auto;
    display: block;
}

footer {
    background-color:black;
    padding: 10px;;
}

.eventstuff {
    height: 100%;
}

